---
import Button from "../Button.astro";
import Details from "./CarCardComponents/Details.astro";
import Icon from "astro-icon";

import type { CollectionEntry } from "astro:content";
interface Props {
  car: CollectionEntry<"cars">;
}

const { car } = Astro.props;

const fullCarName = `${car.data.make} ${car.data.model}`;
const link = `/cars/${car.slug}`;
---

<div
  class="sm:w-2/4 md:w-1/4 min-w-[240px] w-3/4 bg-white rounded-sm shadow-lg border"
>
  <div class="flex relative">
    <img
      src={car.data.thumbnail}
      alt={fullCarName}
      class="object-cover h-60 w-full"
    />
    <span class="absolute p-1 bg-red-700 text-zinc-50 right-1 bottom-1"
      >{`$${car.data.price}`}</span
    >
  </div>
  <div class="flex flex-col text-zinc-900">
    <h2 class="font-semibold text-lg text-center border-b border-zinc-300 p-2">
      {fullCarName}
    </h2>
    <Details
      modelYear={car.data.modelYear}
      mileage={car.data.mileage}
      transmission={car.data.transmission}
      fuel={car.data.fuel}
      seats={car.data.seats}
    />
    <div class="flex flex-row w-full">
      <a
        class="flex flex-row gap-2 p-4 bg-red-700 text-white w-1/2 justify-center align-middle hover:bg-red-800 hover:text-gray-50"
        href="http://"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Icon class="w-5" name="bi:envelope" />
        <p class="leading-snug">Email</p>
      </a>
      <a
        class="flex flex-row gap-2 p-4 bg-green-700 text-white w-1/2 justify-center align-middle hover:bg-green-800 hover:text-gray-50"
        href="http://"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Icon class="w-5" name="bi:whatsapp" />
        <p class="leading-snug">Whatsapp</p>
      </a>
    </div>
  </div>
</div>
