---
import { getEntry } from "astro:content";

const about = await getEntry("about", "about");

const isReverse =
  about.data.thumbnail.position == "left" ? "flex-row" : "flex-row-reverse";
---

<div class=`flex ${isReverse} items-center p-6`>
  <div class="p-6">
    <img
      src={about.data.thumbnail.image}
      alt={about.data.thumbnail.description}
      class="shadow-lg"
    />
  </div>
  <div class="flex flex-col p-6 gap-4">
    <div>
      <h1 class="font-semibold py-2 text-3xl">
        {about.data.title}
      </h1>
      <div class="font-light">
        {about.data.paragraphs.map((para) => <p>{para}</p>)}
      </div>
    </div>
    <div>
      <h3 class="font-semibold">Requirements</h3>
      <ul class="font-light list-disc list-inside">
        {about.data.whyChooseUsList.map((li) => <li>{li}</li>)}
      </ul>
    </div>
  </div>
</div>
