---
import { CollectionEntry, getCollection } from "astro:content";
const blogPosts = await getCollection("blog");

interface BlogCard {
  title: string;
  publishingDate: string;
  image: string;
  summary: string;
  slug: string;
}

const cards: BlogCard[] = [];

blogPosts.length = 3;

blogPosts.map((post) => {
  const title = post.data.title;
  const publishingDate = post.data.publishingDate.toLocaleDateString();
  const image = post.data.featuredImage;
  const summary = post.data.intro.substring(0, 196).trim() + "...";
  const slug = post.slug;

  cards.push({ title, publishingDate, image, summary, slug });
});
---

<div class="flex flex-col my-24">
  <div>
    <h2 class="font-semibold text-3xl text-center">Latest News</h2>
  </div>
  <div class="flex flex-row justify-between mx-12 mt-12">
    {
      cards.map((card) => (
        <div class="flex flex-col shadow-md w-96 h-full">
          <img class="object-cover h-64" src={card.image} alt={card.title} />
          <div class="flex items-center h-20">
            <h3 class="px-4 font-semibold">{card.title}</h3>
          </div>
          <div class="px-4 pb-2 font-light h-32">
            <p class="m-auto">{card.summary}</p>
          </div>
          <div class="flex flex-row px-4 pb-2 justify-between">
            <a
              class="border-b-2 px-1 hover:border-red-700"
              href={`/blog/${card.slug}`}
            >
              Read full article
            </a>
            <p class="text-gray-700">{card.publishingDate}</p>
          </div>
        </div>
      ))
    }
  </div>
</div>
